
h1 {
    text-align: center;
    font-size: 40px;

}
h2 {
    text-align: center;
    margin-top: 100px
}
p {
    margin: 300px;
    text-align: center;
}
ul {
  display: inline;
  text-align: center;

}
#links {
    display: inline;
    text-align: center;

    /* border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: grey ; */
    padding: 10px;
    background-color: white;
    opacity: 0.8;
}
.bg-image {
  /* Full height */
  height: 50%;

/* div{
    width: 340px;
    word-wrap: normal;
    border-style: inset;
    border-radius: 5px;
    border-width: 2px;
    border-color: brown;
    background-color: white;
    opacity: 0.8;
    padding: 10px; */
}

#how_to {
    float: right;
}

a {
    color: slateblue;
}


body {
    background-image: url("images.jpg");
    color: black;

}

img {
    width: 100%;
    margin-top: 200px;
    ;
}

}
