
h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 50px;
}
h2 {
    text-align: center;
    color: white;
    margin: 50px;
}
p {
    left: 20%;
    text-align: center;
    color: white;
    font-size: 20 px;
}
ul {
  display: inline;
  text-align: center;
  color: white;

}
#links {
    display: inline;
    border-style: none;
    border-width: 2px;
    border-radius: 30px;
    border-color: grey ;
    padding: 10px;
    background-color: rgb(117, 112, 130);
    margin: 20px;
    color: white;
    /* opacity: 10; */
}
#robotics {
  width: 500px;
  word-wrap: normal;
  margin: 50px;
  left: 25%;
}

a {
    color: white;
    
}

body {
    color: black;
    background: url(galaxy.jpg);
    background-size: cover;
}

#me {
    transform: rotate(90deg);
    width: 25%;
    margin: 50px;
    margin-top: 100px;
      left: 34%;
    position: relative;
}
#robot {
  width: 30%;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  }

.column {
    float: left;
    width: 23%;
    padding: 10px;
  }

.gallery {
  width: 100%;
  height:auto;
  object-fit: cover;
}


.dog {
  transform: rotate(270deg);
}
