
h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 50px;
}
h2 {
    text-align: center;
    color: white;
    margin: 50px;
}
p {
    left: 20%;
    text-align: center;
    color: white;
    font-size: 20 px;
}
ul {
  display: inline;
  text-align: center;
  color: white;

}
#links {
    display: inline;
    border-style: none;
    border-width: 2px;
    border-radius: 30px;
    border-color: grey ;
    padding: 10px;
    background-color: rgb(117, 112, 130);
    margin: 20px;
    color: white;
    /* opacity: 10; */
}
#stuff {
  width: 500px;
  word-wrap: normal;
  margin: 100px;
}


.bg-image {
  /* Full height */
  height: 50%;
}

a {
    color: slateblue;
}

body {
    color: black;
    background: url(galaxy.jpg);
    background-size: cover;
}

#me {
    transform: rotate(90deg);
    width: 25%;
    margin: 50px;
    margin-top: 100px;
      left: 34%;
    position: relative;
}
#robot {
  width: 40%;
  height: 40%;
  float: right;
  position: relative;
}
