body{
  height: 100%;
  display: grid;
  /* font-family: 'Exo 2', sans-serif; */
   /* font-family: 'PT Sans Caption', sans-serif; */
  font-family: 'Noticia Text', serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;

}
h2 {
    text-align: center;
    color: white;
    ;
}

p {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 500px;
}

.main {
  perspective: 2px;
  transform-style: preserve-3d;
  height: 100vh  ;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.parallax::after {
  display: flex;
  /* flex: 1 0 auto; */
  /* position: relative; */
  height:200%;
  transform: translateZ(-1px) scale(1.5) translateY(120px);
  z-index: -1;
  background-image: url(space.jpg);
  background-size: 100%;
  background-repeat: repeat;


  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


}

.content {
  position: absolute;
  /* display: block; */
  z-index: -1;


}
#links {
    display: inline;
    border-style: none;
    border-width: 2px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(176, 210, 255);
    margin: 40px;
    color: white;
}

.link {
  text-align:center;
  margin-top: 2%;
}

/* #robotics {
  width: 500px;
  word-wrap: normal;
  margin: 50px;
  left: 25%;
} */

a {
    color: rgb(10, 47, 61);

}
.home{
  border-style: none;

}
#me {
    transform: translate(-50%, 50%) rotate(90deg);
    width: 25%;
    left: 50%;
    position: relative;
    border-radius: 25px;
    margin-bottom: 15%;
}

.row {
  width: 100%;
}
.column {
    float: left;
    width: 25%;
    margin: auto;
  }

.gallery {
  width: 95%;
  height:auto;
  object-fit: cover;
  margin-left: 2.5%;
  margin-right: 2.5%;
  object-fit: contain;
  border-radius: 15px;

}
.gallery:hover {
  opacity:0.8;
}
